form{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 50%;
    margin: auto;
}
body{
    background-color: aqua;
}
#enviar {
    width: 15%;
    margin: auto;
}
#button{
    background-color:aqua;
    width: 20%;
    margin:auto ;

}
#submit:hover{
    background-color:aqua;
}
#email1{
        border-style: solid;
}
#password{
    border-style: solid;
}
#text1{
    border-style: solid;
}
#nome1 :focus{
    outline: 0;
    border-style: groove;
}
input{
    margin: 10px;
}